.note-item {
    border: 2px solid var(--main-color);
    margin: 0 auto 20px auto;
    padding: 10px;
}

.note-rate{
    margin-top: 20px;
}

.note-actions {
    text-align: right;
}

.note-actions a {
    color: var(--main-color);
}


