.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media all and (max-width: 800px) {
    .navbar {
        justify-content: space-around;
    }
}

.navbar {
    background-color: var(--sec-color);
    border: solid var(--main-color) 2px;
}

.navbar a {
    color: var(--main-color);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:last-child {
    margin-left: auto;
}

.navbar a:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
}

.navbar a.active {
    background-color: var(--main-color);
    color: var(--sec-color);
}

@media all and (max-width: 500px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a:last-child  {
        margin-left: 0;
        margin-right: 0;
    }
}

