.note-item {
    border: 2px solid var(--main-color);
    margin: 0 auto 20px auto;
    padding: 10px;
}

.note-item-finished {
    /*background-color: var(--trd-color);*/
    background-color: var(--trd-color);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 25px, var(--sec-color) 25px, var(--sec-color) 50px);
}


.note-rate{

}

.note-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.note-title span{
    font-weight: bold;
    font-size: 1.2em;
}

.note-content{
    margin-bottom: 10px;
}



.note-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.note-actions {
}

.note-actions a {
    color: var(--main-color);
    margin-right: 5px;
}

.note-button-group{
    display: row;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.note-button {
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 6px 20px 6px 20px;
    text-transform: uppercase;
    letter-spacing: .09em;
    border: solid var(--main-color) 2px;
    color: var(--main-color);
    background-color: var(--sec-color);
    font-size: 20px;
    text-decoration: none;
}

.note-button:hover {
    background-color: var(--trd-color);
}

.note-button.active {
    color: var(--sec-color);
    background-color: var(--main-color);
    border: solid var(--main-color) 2px;
}

.note-empty-message{
    text-align: center;
}

.note-empty-message a{
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}

@media all and (max-width: 500px) {
    .note-button {
        width: 100%;
    }
}